html {
    background-color:#020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 

}

body {
    width:375px;
    margin:0 auto;
    display:grid;
    grid-template-areas:
    "nav"
    "header"
    "main"
    "footer"  
}


main {
    grid-area:main;
    background-color:#fff;
}

header {
    background: linear-gradient(45deg, blue, black);
    color:#fff;
    padding-left:10px;
    grid-area:header;

}

nav li {
    list-style:none;
}

nav a {
    text-decoration:none;
    color:#fff;
    display:block;


}

nav {
    grid-area:nav;
    background-color:#030A8C;
    color:#fff;
    
}

footer {
    grid-area:footer;
    
}

ul + li {
    font-variant: small-caps;
}

nav, h1, h2, h3 {
    text-transform:uppercase;
}

.button {
    background-color:#590242;
    color:#fff;
}

h1 {
    font-size:1.25em;
}
h2, h3 {
    font-size: 1em;
}
p, dl, dd {
    font-size: 1em;
}
footer p {
    font-size: .75em;
}
