html {
    background-color:#020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 

}

body {
    width:375px;
    margin:0 auto;
    background-color:#fff;
    display:grid;
    grid-template-areas:
    "nav"
    "header"
    "main"
    "footer"  
}


main {
    grid-area:main;
    background-color:#fff;
}

header {
    background: linear-gradient(45deg, blue, black);
    color:#fff;
    padding-left:10px;
    grid-area:header;

}

nav {
    grid-area:nav;
    background-color:#030A8C;
    color:#fff;
    
}
nav li {
    list-style:none;
}

nav a {
    text-decoration:none;
    color:#fff;
    display:block;
}

nav a:hover {
    background-color:#590242;
}

footer {
    grid-area:footer;
    color:#590242;
    
}

ul + li {
    font-variant: small-caps;
}

nav, h1, h2, h3 {
    text-transform:uppercase;
}

.button {
    background-color:#590242;
    color:#fff;
}

#playlists {
    background-color: #0D8DFB;
    color:#fff;
}

#playlists section {
    background-color:#2699FB;
}

#curated section{
    background-color:#020659;
}


#curated {
    background-color:#020873;
    color:#fff;
}

h1 {
    font-size:1.25em;
}
h2, h3 {
    font-size: 1em;
}
p, dl, dd {
    font-size: 1em;
}
footer p {
    font-size: .75em;
}

#trending ::-webkit-scrollbar {

}
#trending ::-webkit-scrollbar-track {

}
#trending ::-webkit-scrollbar-thumb {

}
#trending ::-webkit-scrollbar-thumb:hover {

}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {

}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {

}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {

}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {

}

@media screen and (min-width:834px) {
    nav a:hover {
        background-color:#590242;
    }
    
}